{% render 'partials/head.liquid', title: 'Squad page' %}

<main>
  <form action="/">
   <label for="squad">Filters:</label>
    <select id="squad" name="squad">
      <option value="">Alle squads</option>
      <option value="1I">1I</option>
      <option value="1J">1J</option>
      <option value="a-z">A-Z</option>
      <option value="oud">Oud</option>
      <option value="jong">Jong</option>
    </select>
    <button type="submit">Filter</button>
  </form>

  <ul class="figure-list">
    {% for person in persons %}
        <figure>
          <a class="id">{{ person.id }}</a>
          <div>
            <a href="{{ person.profilecard }}" class="profile-link" >
              {% comment %} <a href="/student/{{ person.id }}" class="profile-link" > {% endcomment %}
              {% if person.mugshot %}
              <img class="mugshots" src="https://fdnd.directus.app/assets/{{ person.mugshot }}?width=500" alt="Profiel foto">
              {% else %}
              <img class="patrick" src="/patrick.png" width="50" alt="Patrick">
              {% endif %}
            </a>
          </div>
          <a class="birthdate">{{ person.birthdate | date_to_long_string  }}</a>
        </figure>
    {% endfor %}
  </ul>
</main>

{% render 'partials/foot.liquid', squads: squads %}