{% render 'partials/head.liquid', title: 'Squad page' %}

<main>
  {% comment %} Filters en Sorteer opties {% endcomment %}
  <ul class="filters">
    <li>
      <a href="/" class="filter-link">Alle squads</a>
    </li>
    <li>
      <a href="/squad-1i" class="filter-link">Squad 1I</a>
    </li>
    <li>
      <a href="/squad-1j" class="filter-link">Squad 1J</a>
    </li>
    <li>
      <a href="/jong" class="filter-link">Jongste</a>
    </li>
    <li>
      <a href="/oud" class="filter-link">Oudste</a>
    </li>
  </ul>

  <div class="figure-list">
    {% for person in persons %}
        <figure>
          <a class="id">{{ person.id }}</a>
          <div>
            <a href="{{ person.profilecard }}" class="profile-link" >
              {% comment %} <a href="/student/{{ person.id }}" class="profile-link" > {% endcomment %}
              {% if person.mugshot %}
              <img class="mugshots" src="https://fdnd.directus.app/assets/{{ person.mugshot }}?width=500" alt="Profiel foto">
              {% else %}
              <img class="patrick" src="/patrick.png" width="50" alt="Patrick">
              {% endif %}
            </a>
          </div>
          <a class="birthdate">{{ person.birthdate | date_to_long_string  }}</a>
        </figure>
    {% endfor %}
  </div>
</main>

{% render 'partials/foot.liquid', squads: squads %}